<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyDT3ndf0kFofLhv5qzIPp2jxP4uuk02BUU</string>
	<key>GCM_SENDER_ID</key>
	<string>874856130236</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.roomMeetSchedulerFlutter</string>
	<key>PROJECT_ID</key>
	<string>room-meet-scheduler</string>
	<key>STORAGE_BUCKET</key>
	<string>room-meet-scheduler.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:874856130236:ios:d659962943d49c67ab12b9</string>
</dict>
</plist>